
*{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Kay Pho Du', serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.logo{ 
    font-size: 1.7rem;
    font-weight: 800;
}
#logo-blue{
    color: #339AF0;
}


.nav-link{
    font-size: 1rem;
    color: gray;
}

.nav-link:hover{
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 0px 0px 1px #339AF0 ;
}
.bg-pill{
   background-color: black;
   border-radius: 20px;
   color: white;
   cursor: pointer;
}
.bg-pill:hover{
    opacity: 0.8;
}


.navbar{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 0.4rem;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 2px gainsboro;
    background-color: white;
}

.image{
    background-image: url(https://images.unsplash.com/photo-1614713899518-7ec14c1a3f00?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGRyaW5rJTIwd2F0ZXJ8ZW58MHwwfDB8fHww);
    height: 25rem;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.image h1{
    font-weight:900;
    color: white;
    font-size: 5rem;
    margin-top: 1rem;
}

.about-content{
    font-size: larger;
    text-align: center;
    width: 50rem;
    margin: 1rem auto;
}

.about-content h3{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.about-content p{
    font-family: 'Lato', sans-serif;
}

.about-content-section{
    font-size: x-large;
    margin-top: 4rem;
    width: 50rem;
    padding: 2rem;
    background-color:#74ccf4;
    color: black;
    border-radius: 20px;
}


/* Initially hide the sections */
.about-content-section {
    opacity: 0;
    transform: translateY(12rem); /* You can adjust this value for a different animation effect */
    transition: opacity 0.3s ease, transform 0.5s ease;
  }
  
  /* Class to reveal the sections */
  .about-content-section.reveal {
    opacity: 1;
    transform: translateY(0);
  }

  .footer p{
    text-align: center;
}

.footer{
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}

#help{
    opacity: 0.7;
    margin-top: 0.1rem;
}