
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="icons8-drop-ios-16-glyph-96.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Kay+Pho+Du&family=Montserrat:wght@300;400;500;600;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kay+Pho+Du&family=Montserrat:wght@300;400;500;600;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="News.css">
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'en',
            autoDisplay: false,
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            multilanguagePage: true
          }, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <div id="google_translate_element"></div>
    <div class="about-body">
        <div class="navbar">
            <div class="logo"> <span id="logo-blue">Blue</span> Metrics</div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/news">News Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-pill" aria-disabled="true" href="http://localhost:8080/new">Login</a>
                </li>
            </ul>
        </div>
    </div>

    <header class="banner">
        <h1>NEWS FEED</h1>
    </header>
    <ol class="activity-feed">
        <li class="feed-item" data-content="&#xf00c;" data-time="3 hours ago" data-color="green">
            <section>
                <input type="checkbox" id="expand_1" name="expand_1" />
                <label for="expand_1">
                    <b>New Water Treatment Plant Opens:</b> Addressing growing demand for clean water in the region.
                </label>
                <main class="content">
                    <blockquote>The new facility incorporates advanced technologies to ensure the efficient
                        purification of water from various sources, enhancing water quality and reliability for
                        residents.</blockquote>
                    <blockquote>This initiative marks a significant step towards sustainable water management and
                        environmental protection.</blockquote>
                </main>
            </section>
        </li>
        <li class="feed-item" data-content="&#xf27b;" data-time="3 hours ago" data-color="blue">
            <section>
                <input type="checkbox" id="expand_2" name="expand_2" />
                <label for="expand_2">
                    <b>Drought Alert:</b> Communities urged to conserve water as reservoir levels reach critical
                    lows.
                </label>
                <main class="content">
                    <p>With rainfall levels below average for consecutive months, authorities are calling for
                        increased efforts to reduce water consumption and implement conservation measures.</p>
                    <p>Residents are encouraged to use water wisely and adopt water-saving practices to mitigate the
                        impact of the drought.</p>
                </main>
            </section>
        </li>
        <li class="feed-item" data-content="&#xf004;" data-time="3 hours ago" data-color="red">
            <section>
                <input type="checkbox" id="expand_3" name="expand_3" />
                <label for="expand_3">
                    <b>Water Pollution Crisis:</b> Contamination threatens drinking water sources in urban areas.
                </label>
                <main class="content">
                    <!-- <img src="http://i0.kym-cdn.com/photos/images/facebook/000/232/114/e39.png"> -->
                </main>
            </section>
        </li>
        <li class="feed-item" data-content="&#xf00c;" data-time="3 hours ago" data-color="green">
            <section>
                <label for="expand_4">
                    <b>River Restoration Project:</b> Efforts underway to revitalize local waterways and ecosystems.
                    <br>
                    This collaborative initiative aims to improve water quality, enhance biodiversity, and promote
                    recreational opportunities for communities.
                </label>
            </section>
        </li>
        <li class="feed-item" data-content="&#xf0e7;" data-time="3 hours ago" data-color="yellow">
            <section>
                <input type="checkbox" id="expand_5" name="expand_5" />
                <label for="expand_5">
                    <b>Water Conservation Campaign:</b> Schools and businesses join forces to raise awareness and
                    promote sustainable water use.
                </label>
                <main class="content">
                    <!-- <h1>BOOM!</h1> -->
                </main>
            </section>
        </li>
    </ol>


</body>

</html>