<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 400px;
            background-color: rgb(45, 204, 45);
            color: white;
            padding: 0cqb;
            margin: 2rem auto;
        }
        p{
            font-weight: 800;
        }
        img{
            width: 300px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://media.istockphoto.com/id/1314758416/vector/key-to-business-success-stairway-to-find-secret-key-or-achieve-career-target-concept.jpg?s=612x612&w=0&k=20&c=WTlNisYWcRsI_c-OVJ2otkyTY2GRLdNXlzH_YeulqN4=" alt="">
        <h1>Success</h1>
        <p>Successfully created account</p>
        <a href="http://localhost:8080/new">Go back to the login page</a>
    </div>
    
</body>
</html>